<table>
    <style type="text/css">
        .collapsible {
            background-color: #777;
            color: white;
            cursor: pointer;
            padding: 18px;
            width: auto;
            border: none;
            text-align: left;
            outline: none;
            font-size: 15px;
        }

        .active,
        .collapsible:hover {
            background-color: #555;
        }

        .content-hi {
            padding: 0 18px;
            display: none;
            overflow: hidden;
            background-color: #f1f1f1;
        }
    </style>
    <tbody>
        <% products.forEach(element => { %>
            <div style="margin: 30px; justify-content: center;">
                <img src="https://pim-cdn0.ofm.co.th/products/large/8030071.jpg" alt="Product_img">
                <div>
                    <%= "Name:" + element.name %>
                    <br>
                    <%= "Price:" + element.price %>
                </div>
                <br>
                <button type="button" class="collapsible">Expand</button>
                <div class="content-hi">
                    <div>
                        <br>
                        <%= "Battery type:" + element.type %>
                        <br>
                        <%= "Description:" + element.description %>
                    </div>
                </div>
            </div>
            <% }) %>
    </tbody>
</table>